<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Explore Maps - Wiki Maps</title>

  <%- include('./partials/head'); %>
  <%- include('./partials/map-head'); %>
  
</head>
<body>
  
  <%- include('./partials/header'); %>

  <aside id="create-map" class="animate__animated animate__bounceInLeft">
    <h1>WikiMap Logo</h1>

    <!-- Required to update: action="target the post route for create-maps"-->
    <form id="edit-form" action="/maps/<%= maps[0].user_id %>/<%= maps[0].id %>/edit" enctype="multipart/form-data" method="post">
      <label for="name">Title</label>
      <input type="text" id="map_name" name="name" value="<%= maps[0].name %>" >
      <label for="description">Description</label>
      <input type="text" id="map_description" name="description" value="<%= maps[0].description %>" >
        <legend>Image</legend>
        <label for="header_image">Select a file:</label>
        <input type="file" name="header_image" accept='image/*'>
        <input type="submit" value="Upload">
      <!-- <input type="submit" value="Upload"> -->


      <!-- <a href="/maps/list/<%= maps[0].user_id  %>"></a> -->
    </form>
  </aside>
  <div id="map"></div>

</body>
</html>