<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Profile Page - Wiki Maps</title>

  <%- include('./partials/head'); %>
  
</head>
<body>
  
  <%- include('./partials/header'); %>
  
    <div class="maps-heading"> LIST OF MAPS </div>
    <div class="map-list-containers">
      <% for (let map of maps) { %>
      <div class="mini-map-containers">
        <section class="mini-maps">
          <div class="maps-list">
            <a href="/maps/list/<%= map.id %>"><img src="<%= map.header_image %>"  title="<%= map.name %>" alt="<%= map.description %>" ></a>
            <p class="map-name"><%= map.name %></p>
            <p class="map-desc"><%= map.description %></p>
            <div class="icon-container">
              <div class="icons">
                <form action= '/maps/list/<%= user_id %>/<%= map.id %>/favorite' method="post">
                  <button id="fav-btn" name="favorite" value="favorite" type="submit" onclick="alert('<3')"><span  class="wm-icon-like icon"></span></button>
                </form>
                <span class="wm-icon-reply icon"></span>
                <span class="wm-icon-send icon"></span>
              </div>
              <author id="author_id">@<%= map.user_id %></author> 
            </div>
          </div>
        </section>
      </div>
      <% } %>
      </div>
    </div>

</body>
</html>