<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Profile Page - Wiki Maps</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/icons.css" type="text/css" />

  <!-- JQuery CDN -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<body>  

<%- include('./partials/header'); %>
<div id="saved-maps"> Saved Maps </div>
<% for (let sav of saved) { %>
<div class="mini-map-container">
  <section class="mini-map">
    <div class="maps">
      <p><%= sav.name %></p>
      <p><%= sav.header_image %></p>  
      <p>Title: <%= sav.name %></p>
      <p>Description: <%= sav.description %></p>
    </div>
    <author>@<%= sav.user_id %></author> 
  </section>
</div>
<% } %>
</div>


<div id="fav-maps"> Fav Maps </div>
<% for (let fav of favs) { %>
<div class="mini-map-container">
    <section class="mini-map">
      <div class="maps">
        <p><%= fav.favs %></p>
        <p><%= fav.header_image %></p>  
        <p>Title: <%= fav.name %></p>
        <p>Description: <%= fav.description %></p>
      </div>
      <author>@<%= fav.user_id %></author> 
    </section>
</div>
<% } %>

  </div>



</body>
</html>